<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>회원가입</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="wrap" class="container sub">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="subHead"><h2>회원가입</h2></div>
    <div class="subCon joinForm">
        <div class="inner">
            <div class="login">
                <form role="form" action="/members/new" th:object="${memberForm}" method="post" onsubmit="return submitCheck();">
                    <div class="inputD">
                        <div class="emailD">
                            <p class="btnInput">
                                <input type="text" th:field="*{email}" placeholder="이메일" required>
                                <a href="javascript:void(0);" class="btn emailChk" onclick="emailAuthentication(this);">인증</a>
                            </p>
                            <p class="infoTxt hide">인증번호가 발송되었습니다.</p>
                        </div>
                        <p><input type="text" th:field="*{emailChkNum}" placeholder="인증번호" required></p>
                        <p class="infoTxt hide">인증번호가 일치하지 않습니다.</p>
                    </div>
                    <div class="inputD">
                        <p><input type="password" th:field="*{password}" placeholder="비밀번호" required></p>
                        <p class="infoTxt">문자, 숫자, 특수기호를 조합하여 8~15자리로 입력해주세요.</p>
                        <p><input type="password" id="password_chk" name="password_chk" placeholder="비밀번호 확인" required></p>
                        <p class="infoTxt hide">비밀번호가 일치하지 않습니다.</p>
                    </div>
                    <div class="inputD">
                        <p><input type="text" th:field="*{phone}" placeholder="핸드폰번호" required></p>
                    </div>
                    <div class="inputD">
                        <p class="btnInput">
                            <input type="text" th:field="*{zipcode}" placeholder="우편번호" readonly="readonly">
                            <a href="javascript:void(0);" class="btn addressBtn" onclick="addressApi();">주소검색</a>
                        </p>
                        <p><input type="text" th:field="*{city}" placeholder="기본주소" readonly="readonly"></p>
                        <p><input type="text" th:field="*{street}" placeholder="상세주소"></p>
                    </div>
                    <button type="submit" class="bigBtn">회원가입</button>
                </form>
            </div>
        </div><!--// inner -->
    </div><!--//subCon-->
    <div th:replace="fragments/footer :: footer" />
    <div id="addressLayerPopup"></div>
</div> <!-- /container -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
