
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="nav inner">
        <h1 class="logo"><a href="/">HELLO FOOD</a></h1>
        <p class="utill">
            <th:block th:if="${session.loginMember} == null">
                <a th:if="${session.loginMember} == null" href="/login">로그인</a>
                <a href="/members/new">회원가입</a>
            </th:block>
            <th:block th:if="${session.loginMember} != null">
                <a th:if="${session.loginMember} != null" href="/logout">로그아웃</a>
                <a href="/orderList">마이페이지</a>
            </th:block>

        </p>
    </div>
</div>