<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="wrap" class="container main">

  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="subCon" >
    <p class="text"><img src="/images/main_txt.png" alt="마음에도 당충전이 필요할때"></p>
    <a href="/menu" class="order-btn">주문하기</a>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
