<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="wrap" class="container sub">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="subHead"><h2>로그인</h2></div>
  <div class="subCon joinForm">
    <div class="inner">
      <div class="login">
        <form role="form" action="/login" th:object="${loginForm}" method="post">
          <div class="inputD">
            <div th:if="${#fields.hasGlobalErrors()}">
              <p class="infoTxt red" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>
            <input type="text" th:field="*{email}" placeholder="이메일">
            <p class="infoTxt red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
            <input type="password" th:field="*{password}" placeholder="비밀번호">
            <p class="infoTxt red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
<!--            <p><input type="checkbox" id="ing" name="ing"><label>로그인 상태 유지</label></p>-->
          </div>
          <button type="submit" class="bigBtn">로그인</button>
        </form>
      </div>
    </div><!--// inner-->
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
